<katana-card>
  <katana-table [option]="option" #tableTemplate>
    <ng-template let-item="item" #imageTemplate>
      <img [src]="item.logo" />
      <!-- <h4>{{item.name}}</h4> -->
    </ng-template>
    <ng-template let-item="item" katana-row-detail>

      <katana-table [option]="option" #tableTemplate>
          <!-- <ng-template let-item="item" #imageTemplate>
              <img [src]="item.logo" />
              <!-- <h4>{{item.name}}</h4> -->
            <!-- </ng-template> --> 
      </katana-table>

      <h4>{{item.Points}}</h4>
    </ng-template>
  </katana-table>
</katana-card>
