<!-- <katana-card>
    <katana-tabs [displayMode]="'full'" (change)="changeTab($event)">
        <katana-tab [name]="'Danh mục'" [icon]="'fa fa-bell'">
            <div class="col-xs-12">
                <div class="col-xs-12" style="margin: 10px;">
                    <katana-dropdown-buttons [customClass]="'warning'" [icon]="'fa fa-twitter'"
                        [title]="'Danh sách tổng hợp'">
                        <katana-dropdown-button [icon]="'fa fa-search'" [title]="'Danh sách nhân viên'">
                        </katana-dropdown-button>
                        <katana-dropdown-button [icon]="'fa fa-bell'" [title]="'Danh sách chứng chỉ'">
                        </katana-dropdown-button>
                        <katana-dropdown-button [icon]="'fa fa-home'" [title]="'Danh sách khác'"></katana-dropdown-button>
                    </katana-dropdown-buttons>
                </div>
            </div>
        </katana-tab>
        <katana-tab [name]="'Người dùng'" [icon]="'fa fa-twitter'">
            <katana-daterange-picker></katana-daterange-picker>
        </katana-tab>
        <katana-tab [name]="'Khác'" [icon]="'fa fa-search'">
            <katana-editor></katana-editor>
        </katana-tab>
    </katana-tabs>
</katana-card> -->

<katana-card>
  <katana-table [option]="option" #tableTemplate>
    <ng-template let-item="item" #imageTemplate>
      <img [src]="item.logo" />
    </ng-template>
  </katana-table>
</katana-card>
