<router-outlet></router-outlet>
<!-- <c-loading></c-loading> -->
<!-- <div #formRef class="col-xs-12" style="padding: 10px;">
    <c-card>
        <c-tabs (change)="changeTab($event)">
            <c-tab [name]="'Danh mục'" [icon]="'fa fa-bell'">
                <div class="col-xs-12" style="margin: 10px;">
                    <c-button [title]="'Show Loading'" (execute)="showLoading()" [lazyload]="true"
                        [icon]="'fa fa-search'" [customClass]="'success'"></c-button>
                </div>
                <div class="col-xs-12" style="margin: 10px;">
                    <c-datetime-picker [validationName]="'Test'" [model]="value">
                    </c-datetime-picker>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12" style="margin: 10px;">
                        <c-dropdown-buttons [customClass]="'warning'" [icon]="'fa fa-twitter'"
                            [title]="'Danh sách tổng hợp'">
                            <c-dropdown-button [icon]="'fa fa-search'" [title]="'Danh sách nhân viên'">
                            </c-dropdown-button>
                            <c-dropdown-button [icon]="'fa fa-bell'" [title]="'Danh sách chứng chỉ'">
                            </c-dropdown-button>
                            <c-dropdown-button [icon]="'fa fa-home'" [title]="'Danh sách khác'"></c-dropdown-button>
                        </c-dropdown-buttons>
                    </div>
                </div>
                <div class="col-xs-12" style="margin: 10px;">
                    <c-dropdown [title]="'Chọn danh sách'" [model]="test" [multiple]="true" [searchFunction]="search"
                        [bindLabel]="name" [bindValue]="value"></c-dropdown>
                </div>
            </c-tab>
            <c-tab [name]="'Người dùng'" [icon]="'fa fa-twitter'">
                <c-daterange-picker></c-daterange-picker>
                <c-auth [template]="template" (completed)="test($event)"></c-auth>
            </c-tab>
            <c-tab [name]="'Khác'" [icon]="'fa fa-search'">
                <c-editor></c-editor>
            </c-tab>
        </c-tabs>
    </c-card>
</div> -->